/*#title
{
    text-align: center;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:  rgba(250, 57, 57, 0.932);
} */

#title
{
  text-align: center;
  font: 400 75px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 2.3px 2px 0px rgb(255, 255, 255, 0.8);
  color:  rgba(250, 57, 57, 0.932);
}

.container-1
{
    margin: auto;
    display: flex;
    border-style: solid;
    border-radius: 8%;
    background-color: rgba(250, 57, 57, 0.932);
    width: 475px;
    height: 500px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.container-1 div
{
    border: 1px solid; 
    border-color: rgb(224, 240, 8); /*This is to display outline sizes; comment out */
    /*padding should be 11px without the border*/
    padding: 10px; /*Set this to 10px if you want to see the border outline without things moving from position */
}

.session
{
    flex: 2;
    order: 2; /*Remember when using order, all elements START at order: 0; */
    font: 400 15px 'Oleo Script', Helvetica, sans-serif;
}

.minusSession
{
    flex: 1;
    order: 1;
}
#minusSessionButton
{
    width: 36px;
    height: 30px;
    font-size: 20px;
    outline: none;
    color: white;
    background-color: rgb(216, 211, 211);
}

.plusSession
{
    flex: 1; 
    order: 3;
}
#plusSessionButton
{
    width: 36px;
    height: 30px;
    font-size: 20px;
    outline: none;
    color: white;
    background-color: rgb(216, 211, 211);
}

.break
{
    flex: 2;
    order: 5;
    font: 400 15px 'Oleo Script', Helvetica, sans-serif;
}

.minusBreak
{
    flex: 1;
    order: 4;
}
#minusBreakButton
{
   width: 36px;
   height: 30px;
   font-size: 20px;
   outline: none;
   color: white;
   background-color:rgb(216, 211, 211);
}

.plusBreak
{
    flex: 1;
    order: 6;
}
#plusBreakButton
{
   width: 36px;
   height: 30px;
   font-size: 20px;
   outline: none;
   color: white;
   background-color: rgb(216, 211, 211);
}

.pause
{
    flex: 1;
    order: 7;
}
#pauseButton
{
   width: 80px;
   height: 60px;
   background-color: rgb(134, 231, 89);
   color: white;
   outline: none;
   font: 400 20px 'Oleo Script', Helvetica, sans-serif;
}

.timer
{
    flex: 2;
    order: 8;
    text-align: center;
    font: 400 30px 'Oleo Script', Helvetica, sans-serif;
    margin-top: 100px;
}
h1
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.stop
{
    flex: 1;
    order: 9;
}
#stopButton
{
   width: 80px;
   height: 60px;
   font: 400 20px 'Oleo Script', Helvetica, sans-serif;
   background-color: rgb(134, 231, 89);
   color: white;
   outline: none;
}

.start
{
    flex: 1;
    order: 10;
    text-align: center;
}
#startButton
{
    text-align: center;
    background-color: rgb(134, 231, 89);
    color: white;
    width: 250px;
    height: 60px;
    font: 400 32px 'Oleo Script', Helvetica, sans-serif;
    font-style: italic;
    outline: none;
}

body 
{
background: rgb(180,227,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
color: white;
}




